body{
    color: rgb(57, 56, 56);
    background-color: rgb(178, 178, 178);
    font-family: Arial, Helvetica, sans-serif;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a{
    color: rgb(56, 56, 56);
    text-decoration: none;
}